<h1>BackOffice / zona privada</h1>

<div class="container">
    <div class="row">
        
        <div class="col">
            <h2>Filtro por nombre:</h2>
            <div class="input-group">
                <input type="search" [(ngModel)]="busqueda" class="form-control" placeholder="Busca pokemon por nombre">
                <div class="input-group-append">
                  <span class="input-group-text">
                  <span class="fas fa-search"></span></span>
                </div><!--input-group-append-->    
            </div><!--input-group-->
            <h2>Listado de todos los pokemon</h2>
            <ul>
                <li *ngFor="let p of pokemon | pokemonFiltro : busqueda" (click)="seleccionarPokemon(p)" class="list-group-item d-flex justify-content-between {{ (p==pokemonSeleccionado) ? 'active' : ''  }}">{{p.id}} - {{p.nombre}}
                    <button (click)="eliminarpokemon(p)" class="btn btn-outline-danger"><i class="fas fa-trash-alt"></i></button>
                </li>
            </ul>
            <button class="btn btn-primary btn-block mb-2" (click)="clear()">Limpiar Formulario</button>
        </div><!--col-->

        <div class="col">
            <!-- mensajes para el usuario -->
            <div *ngIf="showMensaje" class="alert alert-warning alert-dismissible fade show" role="alert">
                {{mensaje}}
                <button (click)="showMensaje = !showMensaje" type="button" class="close" data-dismiss="alert" aria-label="Close">
                <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <h2>Detalle de cada pokemon</h2>
            <ol>
                <h3>{{pokemonSeleccionado?.id}} - {{pokemonSeleccionado?.nombre}}</h3>
                <img class="imagen" src="{{pokemonSeleccionado?.imagen}}">
            </ol>
        </div><!--col-->
        <div class="col">
            <h2>Formulario de habilidades</h2>
            {{ formulario.value | json }} {{ formulario.status | json }}
        
            <form [formGroup]="formulario">
                Nombre: <input type="text" [ngModel]="nombre" formControlName="nombre"><br>
                Imagen: <input type="text" [ngModel]="imagen" formControlName="imagen"><br>
              Selecciona habilidades: 
              <li *ngFor="let h of habilidad" (click)="SeleccionarHabilidad(h)" class="{{(h.checked)? 'bg-success text-white' : 'bg-danger text-white'}} list-group-item d-flex justify-content-between" >{{h.id}} - {{h.nombre}}
            </li> 
            <input type="submit" (click)="getID(formulario.value)" [disabled]="formulario.invalid" class="btn btn-primary btn-block" value="Crear/modificar">   
            </form>
        </div><!--col-->
    </div><!--row-->
</div><!--container-->
