<!-- Footer -->
<footer class="page-footer font-small blue bg-dark">

    <!-- Copyright -->
    <div class="footer-copyright text-center py-3 text-white">© 2020 Copyright:
        <i class="fab fa-github text-white"></i>
        <a href="https://github.com/github"> Alejandro Rodriguez Diaz</a>    
    </div>
    <!-- Copyright -->
    
    <!-- Scripts de union -->
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"></script>
    <!-- Scripts de union -->
</footer>
<!-- Footer -->


